header {
  background: #eee;
  padding: 1em 0;
}

.docs-nav {
  @extend .nav;
  @extend .nav-pills;

  text-align: center;

  & > li {
    float: none;
    display: inline-block;
  }
}

$themes: (
  'light-theme',
  'dark-theme',
  'custom-theme'
);

@each $theme in $themes {
  body.#{$theme} .docs-nav .#{$theme} > a {
    // Copy .nav-pills>li.active>a in bootstrap/_navs.scss
    color: $nav-pills-active-link-hover-color;
    background-color: $nav-pills-active-link-hover-bg;
  }
}

.docs-greek {
  margin-top: 1.5em;
  margin-bottom: 1.5em;

  & > .row {
    margin-left: 0;
    margin-right: 0;

    & > * {
      background-color: #ccc;
      height: 1em;
      margin-bottom: 0.5em;
    }
  }
}

.mysoc-footer__org__logo--horse {
  width: 170px;
  background: transparent url('../img/mysoc-footer/logo-horse.png') 0 0 no-repeat;
  background-size: 170px 32px;
  @media ($high-dpi-screen) {
    background-image: url('../img/mysoc-footer/logo-horse@2x.png');
  }
  background-image: url('../img/mysoc-footer/logo-horse.svg'), none;

  body.dark-theme &,
  body.custom-theme & {
    background-image: url('../img/mysoc-footer-dark/logo-horse.png');
    @media ($high-dpi-screen) {
      background-image: url('../img/mysoc-footer-dark/logo-horse@2x.png');
    }
    background-image: url('../img/mysoc-footer-dark/logo-horse.svg'), none;
  }
}

body.dark-theme {
  background-color: #1a1a1a;

  .docs-greek > .row > * {
    background-color: #666;
  }
}

body.custom-theme {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;

  background-color: #62B356;

  .docs-greek > .row > * {
    background-color: mix(#62B356, #fff, 50%);
  }
}
