<div class="mysoc-footer" role="contentinfo">
    <div class="container">
        <div class="row">

            <div class="col-sm-5">
                <h2 class="mysoc-footer__site-name">WhyTheyKnowIt</h2>
                <div class="mysoc-footer__site-description">
                    <p>WhyTheyKnowIt is the UK’s original existential question reporting website. It is <a href="#">run by volunteers</a>, and dedicated to <a href="#">Friedrich Nietzsche</a>.</p>
                </div>
            </div>

            <div class="col-sm-4">
                <nav class="mysoc-footer__links">
                    <ul>
                        <li role="presentation"><a href="#">Ask a question</a></li>
                        <li role="presentation"><a href="#">What you know</a></li>
                        <li role="presentation"><a href="#">All questions</a></li>
                        <li role="presentation"><a href="#">Email alerts</a></li>
                    </ul>
                    <ul>
                        <li role="presentation"><a href="#">About WTKI</a></li>
                        <li role="presentation"><a href="#">Contact</a></li>
                        <li role="presentation"><a href="#">Help</a></li>
                        <li role="presentation"><a href="#">Privacy</a></li>
                    </ul>
                </nav>
            </div>

            <div class="col-sm-3">
                <div class="mysoc-footer__donate">
                    <p>Your donations keep this site and others like it running</p>
                    <a href="https://www.mysociety.org/donate" class="mysoc-footer__donate__button">Donate now</a>
                </div>
            </div>

        </div>
        <hr class="mysoc-footer__divider" role="presentation">
        <div class="row">

            <div class="col-sm-5">
                <div class="mysoc-footer__orgs">
                    <p class="mysoc-footer__org">
                        Built by
                        <a href="https://www.mysociety.org" class="mysoc-footer__org__logo mysoc-footer__org__logo--mysociety">mySociety</a>
                    </p>
                    <p class="mysoc-footer__org">
                        In association with
                        <a href="#" class="mysoc-footer__org__logo mysoc-footer__org__logo--horse">Horse</a>
                    </p>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="mysoc-footer__legal">
                    <p><a href="https://www.mysociety.org">mySociety</a> is a registered charity in England and Wales (1076346) and a limited company (03277032). We provide commercial services through our wholly owned subsidiary <a href="https://www.societyworks.org">SocietyWorks Ltd</a> (05798215).</p>
                </div>
            </div>

            <div class="col-sm-3">
                <ul class="mysoc-footer__badges">
                    <li role="presentation"><a href="#" class="mysoc-footer__badge mysoc-footer__badge--github">Github</a></li>
                    <li role="presentation"><a href="#" class="mysoc-footer__badge mysoc-footer__badge--twitter">Twitter</a></li>
                    <li role="presentation"><a href="#" class="mysoc-footer__badge mysoc-footer__badge--facebook">Facebook</a></li>
                </ul>
            </div>

        </div>
    </div>
</div>
