<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700">
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}">
  </head>
  <body {% if page.bodyclass %}class="{{ page.bodyclass }}"{% endif %}>
    <header>
      <div class="container">
        <ul class="docs-nav">
          <li role="presentation" class="light-theme"><a href="{{ "/" | prepend: site.baseurl }}">Light theme</a></li>
          <li role="presentation" class="dark-theme"><a href="{{ "/dark.html" | prepend: site.baseurl }}">Dark theme</a></li>
          <li role="presentation" class="custom-theme"><a href="{{ "/custom.html" | prepend: site.baseurl }}">Custom theme</a></li>
        </ul>
      </div>
    </header>
    {{ content }}
  </body>
</html>
